<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Movie Listing</h1>
    <div class="container">
      <div id="data-table-container">
        <table>
          <tr>
            <th>Park Name</th>
            <th>Name</th>
          </tr>
          {% for movie in movies %}
          <tr>
            <td>{{ movie[1] }}</td>
            <td>{{ movie[2] }}</td> 
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>

    <form>
      <input type="text" placeholder="Search.." role="search" name="search" />
      <button type="submit"><i class="fa fa-search"></i>Search</button>
    </form>
  </body>
</html>
